
*{
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 1rem;
    border: 1px solid #d400ff;
    border-radius: 1rem;
}

.welcome-text {
    text-align: center;
    margin-bottom: 1rem;
}

.username-container, 
.email-container, 
.password-container {
    width: 100%;
    display: flex;            
    align-items: left;      
    padding: 5px;            
    border: 1px solid #ccc;   
    border-radius: 5px;       
    box-sizing: border-box;
}

.username-container input, 
.email-container input, 
.password-container input{
    border: none;
    outline: none;
    padding: 0 10px;
}

.username-container input:focus, 
.email-container input:focus, 
.password-container input:focus {
    caret-color: #d400ff;
    animation: blink-cursor 1s step-end infinite;
}

@keyframes blink-cursor {
    0%, 60% {
        caret-color: #d400ff;
    }
    70%, 100% {
        caret-color: #007bff;
    }
}

.username-container:focus-within, .email-container:focus-within, .password-container:focus-within, .role-container select:focus-within {
    border-color: #d400ff;
}

.role-container{
    width: 100%;
    display: flex;            
    align-items: left;   
    justify-content: space-between;   
    padding: 5px;            
    box-sizing: border-box;
}

.role-container select{
    width: 60%;
    border-radius: 2.5px;
    outline: none;
}

.toggle-password {
    cursor: pointer;
    color: #666;
    font-size: 18px;
    margin-left: 5px;
    user-select: none;
}

.sbtn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sbtn button{
    width: 100%;
    padding: 5px;
    background-color: #d400ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pa a{
    text-decoration: none;
    color: #007bff;
}
